a {
	text-decoration: none;
}
a:visited {
	color : blue;
}
a:hover {
	border:dashed red;
	border-width:0 0 1px;
}

dt {
	font-weight: bold;
}

em {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

address {
	float: right;  
}